.cover {
    transition: all 0.3s ease-in-out;
    color: white;
}
.container1 {
    width: 100%;
    height: 100%;
    position: relative;
   transition: all 0.3s ease-in-out;
    cursor: pointer;
   
}
.container1:hover .big-cover{
    transform: scale(110%);
}
.big-cover{
 transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;

  object-fit:cover;
  
}

.black-effect{
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
    background: rgba(0,0,0,.3);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 80%,rgba(0,0,0,0.8));
}
.container1:hover .black-effect{
    opacity: 0.8 !important;
}
.desc{
    position: absolute;
    bottom: 0;
    z-index: 3;
   
}

.desc1{
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    z-index: 3;
    transition: all 0.3s ease-in-out;
   
}
.container1:hover .desc1{
    transform: translateX(10%);
}

